#header{
 background-image: linear-gradient(white,#638ac9);  
}
#h1{
    font-family: fantasy;
}
#h2{
    font-family: Georgia;
}
#cmps life{
    background-image: linear-gradient(#638ac9,blue)
}
#footer{
    background-image: linear-gradient(blue,#638ac9)
}
#schl{
    width:400px;
}
#body{background-image: linear-gradient(blue,#638ac9)}
#library{
    width:400px;
}

school musical, the musical the series.Olivia  

#auditorium{width: 400px;}
#debate{width:400px;}
#environ_li h4 {text-align: left;}
#environ_li p {text-align: left;}